* {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(179, 178, 178);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: large;
    padding: 1em;
}

h1, .nav {
    display: inline;
}

.container {
    text-align: right;
}

.nav{
    padding: .75em;
}

.nav:hover {
    cursor: pointer;
    color: blue;
}

img {
    padding: 1em;
    padding-left:2em;
    width:25em;
    height: 25em;
}

.content {
    display:inline; 
    position: absolute;
    top: 5em;
    left: 5em;
    width: 40%;
    overflow: auto;
    height: 20em;
    font-size: 1.7em;
}

h1:hover {
    cursor: pointer;
}

h1 {
    font-size: xx-large;
}